.footer {
  background: url('../img/noise-bg.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-top: 40px;
    padding-bottom: 0;
    @include media-t {
      flex-wrap: wrap;
      justify-content: center;
      gap: 65px 60px;
      padding-top: 30px;
    }
    @include media-m {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }

  &__column {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 33px;
    max-width: 300px;
    padding: 16px 0 60px;
    &:first-child {
      max-width: 278.5px;
    }
    @include media-t {
      padding: 0;
    }
    @include media-s {
      gap: 40px;
      &:first-child {
        align-items: center;
      }
    }
  }

  &__title {
    color: $color-light;
    @include media-m {
      text-align: center;
    }
    @include media-s {
      max-width: 270px;
      align-self: center;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    min-height: 32px;
    padding-left: 60px;
    font-family: Georgia, serif;
    @include font(2rem, 1.15, $color-title);
    letter-spacing: 0.06em;
    color: $color-prim-hov;
    background-repeat: no-repeat;
    background-position: left center;
    transition: filter 0.3s ease;
    outline-offset: 3px;
    &_email {
      background-image: url('../svg/email.svg');
    }
    &_phone {
      background-image: url('../svg/phone.svg');
    }
    &_loc {
      padding-left: 42px;
      background-image: url('../svg/marker.svg');
    }

    &:hover,
    &:focus,
    &:active {
      filter: brightness(85%);
    }
  }

  &__image {
    align-self: flex-end;
    @include media-t {
      align-self: center;
    }
    @include media-s {
      max-width: 260px;
    }
  }
}
