.footer {
  background: url('../img/footer-bg.jpg') no-repeat;
  background-size: cover;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 40px 20px 0;
  }
  &__content {
    display: flex;
    gap: 160px;
    padding: 16px 0 60px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    max-width: 310px;
  }
  &__title {
    color: $color-light;
  }
  &__link {
    display: flex;
    align-items: center;
    min-height: 32px;
    padding-left: 60px;
    @extend h4;
    color: $color-prim-hov;
    background-repeat: no-repeat;
    background-position: left center;
    transition: filter 0.3s ease;
    &_email {
      background-image: url('../svg/email.svg');
    }
    &_phone {
      background-image: url('../svg/phone.svg');
    }
    &_loc {
      padding-left: 42px;
      background-image: url('../svg/marker.svg');
    }
    @media (any-hover: hover) {
      &:hover,
      &:focus {
        filter: brightness(85%);
      }
    }
  }
  &__image {
    align-self: flex-end;
  }
}
