.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  color: $color-light;
  .pets-page & {
    // position: sticky;
    background: $color-light;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 0;
    .pets-page & {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @include media-l {
      padding-top: 30px;
    }
    @include media-m {
      padding-right: 43px;
    }
  }
}

.logo {
  white-space: nowrap;
  transition: filter 0.3s ease;
  outline-offset: 5px;
  &__title {
    height: 35px;
    margin-bottom: 10px;
    .pets-page & {
      color: $color-title;
    }
  }
  &__subtitle {
    @include font(1.3rem, 1.5rem, $color-light);
    letter-spacing: 0.1em;
    text-align: center;
    .pets-page & {
      color: $color-button;
    }
  }
  @media (any-hover: hover) {
    &:hover,
    &:focus {
      filter: brightness(85%);
    }
  }
}

.menu {
  @include media-m {
    display: none;
  };
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 35px;
    @include media-m {
      flex-direction: column;
      gap: 40px;
      align-items: center;
    }
  }

  &__link {
    @include font(1.5rem, 1.6, $color-grey);
    white-space: nowrap;
    outline-offset: 3px;

    .pets-page & {
      color: $color-title;
    }
    &.active {
      border-bottom: 3px solid $color-prim;
      color: $color-light-s;
      .pets-page & {
        color: $color-button;
      }
    }

    @media (any-hover: hover) {
      &:hover,
      &:focus {
        color: $color-light-s;
        .pets-page & {
          color: $color-button;
        }
      }
    }

    @include media-m {
      font-size: 3.2rem;
    }
  }
}

.burger {
  display: none;

  @include media-m {
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    height: 42px;
    padding: 10px;
    background: transparent;
    span,
    &:before,
    &:after {
      width: 30px;
      height: 2px;
      background: $color-prim;
      transition: background 0.3s ease;
      .pets-page & {
        background: $color-dark;
      }
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
    }
    &:after {
      top: 30px;
    }

    &.active {
      transform: rotate(90deg);
    }

    @media (any-hover: hover) {
      &:hover,
      &:focus {
        &:before,
        &:after,
        span {
          background: $color-prim-hov;
        }
      }
    }
  }
}
