.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  color: $color-light;
  padding-top: 60px;
  padding-bottom: 30px;
  transition: padding 0.5s ease;
  @include media-l {
    padding-top: 30px;
  }

  &.scrolled {
    padding-top: 3px;
    padding-bottom: 7px;
    background: url('../img/noise-bg.png'), linear-gradient(to right, #493b33 0%, #272424 100%), #211f20;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }

  .pets-page & {
    background: $color-light;
    padding-top: 30px;
    &.scrolled {
      padding-top: 3px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-top: 0;
    padding-bottom: 0;
    @include media-m {
      padding-right: 43px;
    }
  }
}

// ---------------------------------

$menuPaddingTop: 110px;

.menu {
  &__logo {
    display: none;
  }

  @include media-m {
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 320px;
    padding-top: $menuPaddingTop;
    transition: right 0.3s ease;
    background: $color-button;
    overflow: hidden;

    .pets-page & {
      background: $color-light;
    }

    &__logo {
      position: absolute;
      top: 30px;
      left: 10px;
      display: block;

      .scrolled & {
        top: 5px;
      }
    }
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 35px;

  @include media-m {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0 0;
    padding: 30px 20px;
    overflow: auto;

    &:after {
      content: '';
      flex-basis: $menuPaddingTop;
    }

    .menu__item:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.menu__link {
  @include font(1.5rem, 1.6, $color-grey);
  white-space: nowrap;
  outline-offset: 3px;

  .pets-page & {
    color: $color-title;
  }
  &.active {
    border-bottom: 3px solid $color-prim;
    color: $color-light-s;
    .pets-page & {
      color: $color-button;
    }
  }

  @media (any-hover: hover) {
    &:hover,
    &:focus {
      color: $color-light-s;
      .pets-page & {
        color: $color-button;
      }
    }
  }

  @include media-m {
    font-size: 3.2rem;
  }
}

// ---------------------------------

.burger {
  display: none;

  @include media-m {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    height: 42px;
    padding: 10px;
    background: transparent;
    transition: transform 0.3s ease;
    span,
    &:before,
    &:after {
      width: 30px;
      height: 2px;
      background: $color-prim;
      transition: background 0.3s ease;
      .pets-page & {
        background: $color-button;
      }
    }
    &:before,
    &:after {
      content: '';
    }

    @media (any-hover: hover) {
      &:hover,
      &:focus {
        &:before,
        &:after,
        span {
          background: $color-prim-hov;
        }
      }
    }
  }
}

// ---------------------------------

.header::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background: transparent;
  transition: background 0.3s ease;
}

.menu-open {
  overflow: hidden;

  .menu {
    right: 0;
  }

  .burger {
    transform: rotate(90deg);
  }

  .header__logo {
    opacity: 0;
  }

  .header::before {
    width: 100%;
    background: rgba(41, 41, 41, 0.6);
  }
}
