.start {
  color: $color-light;
  background: url('../img/start-bg.jpg') no-repeat;
  background-size: cover;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 180px;
    padding-bottom: 0;
    @include media-l {
      align-items: center;
      padding-top: 150px;
      align-items: center;
    }
    @include media-t {
      flex-direction: column;
      gap: 100px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
    max-width: 460px;
    padding-top: 163px;
    padding-bottom: 42px;
    @include media-l {
      padding-top: 0px;
    }
  }
  &__button {
    @include media-t {
      align-self: center;
    }
  }
  &__image {
    align-self: flex-end;
    @include media-t {
      max-width: 569px;
    }
  }
}

// ============================================================

.about {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    @include media-t {
      flex-direction: column;
      gap: 80px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 430px;
    @include media-t {
      order: -1;
    }
  }
}

// ============================================================

.pets {
  background: $color-light-l;
  text-align: center;
  &__title {
    margin-bottom: 59px; //for PP
  }
  &__button {
    margin-top: 60px;
  }
  .pets-page & {
    padding-top: 120px;
  }
}

// ============================================================

.help {
  &__title {
    margin-bottom: 60px;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px 120px;
    @include media-l {
      max-width: 750px;
      margin: 0 auto;
    }
    @include media-t {
      column-gap: 60px;
    }
    @include media-m {
      justify-content: flex-start;
      max-width: 370px;
      column-gap: 30px;
    }
    @include media-s {
      max-width: 290px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    img {
      height: 60px;
    }
    @include media-l {
      flex-basis: 170px;
    }
    @include media-s {
      flex-basis: 130px;
    }
  }
}

// ============================================================

.donation {
  background: $color-light-l;
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @include media-t {
      flex-direction: column;
      gap: 60px;
    };
  }
  &__content {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    @include media-t {
      order: -1;
    };
  }
  &__subtitle {
    margin-top: -2px; //for PP
    font-family: Georgia, serif;
    @include font(1.5rem, 1.1, $color-title);
    letter-spacing: 0.06em;
  }
  &__text {
    font-style: italic;
    @include font(1.2rem, 1.5, $color-italic, 400, italic);
  }
}

.credit-card {
  position: relative;
  padding: 10px 15px 10px 60px;
  font-family: Georgia, serif;
  @include font(2rem, 1.15, $color-title);
  letter-spacing: 0.06em;
  white-space: nowrap;
  background: $color-prim url('../svg/credit-card.svg') 15px center no-repeat;
  border-radius: 9px;
  transition: background-color 0.3s ease;
  @media (any-hover: hover) {
    &:hover,
    &:focus {
      background-color: $color-prim-hov;
    }
  }
  @include media-s {
    font-size: 1.5rem;
    line-height: 1.1;
  }
}
