.start {
  color: $color-light;
  background: url('../img/noise-bg.png'), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 180px;
    padding-bottom: 0;
    @include media-l {
      align-items: center;
      padding-top: 150px;
      align-items: center;
    }
    @include media-t {
      flex-direction: column;
      gap: 100px;
    }
    @include media-s {
      gap: 105px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
    max-width: 460px;
    padding-top: 163px;
    padding-bottom: 42px;
    @include media-l {
      padding-top: 0px;
    }
    @include media-t {
      padding-bottom: 0;
    }
    @include media-s {
      max-width: 300px;
      align-items: stretch;
      text-align: center;
    }
  }
  &__button {
    @include media-t {
      align-self: center;
    }
  }
  &__image {
    align-self: flex-end;
    @include media-t {
      max-width: 569px;
    }
    @include media-m {
      width: perc(261px, 300px);
    }
  }
}

// ============================================================

.about {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    @include media-t {
      flex-direction: column;
      gap: 80px;
    }
    @include media-s {
      gap: 42px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 430px;
    @include media-t {
      order: -1;
    }
    @include media-s {
      gap: 22px;
      max-width: perc(270px, 300px);
      text-align: justify;
    }
  }
  &__title {
    @include media-s {
      padding-bottom: 3px;
    }
  }
  &__image {
    @include media-s {
      max-width: 259.5px;
    }
  }
}

// ============================================================

.pets {
  background: $color-light-l;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    @include media-s {
      gap: 42px;
    }
  }
  &__title {
    text-align: center;
  }
}

.pets-page .pets__wrapper {
  padding-top: 200px;
  @include media-t {
    gap: 30px;
    padding-bottom: 76px;
  }
  @include media-s {
    gap: 42px;
    padding-top: 162px;
    padding-bottom: 42px;
  }
}

// ============================================================

.help {
  &__title {
    margin-bottom: 60px;
    text-align: center;
    @include media-s {
      margin-bottom: 42px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px 120px;
    @include media-l {
      max-width: 750px;
      margin: 0 auto;
    }
    @include media-t {
      column-gap: 60px;
    }
    @include media-m {
      justify-content: flex-start;
      max-width: 370px;
      column-gap: 30px;
    }
    @include media-s {
      max-width: 290px;
      row-gap: 30px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @include media-s {
      gap: 20px;
    }
    img {
      height: 60px;
      @include media-s {
        height: 50px;
      }
    }
    @include media-l {
      flex-basis: 170px;
    }
    @include media-s {
      flex-basis: 130px;
    }
  }
}

// ============================================================

.donation {
  background: $color-light-l;
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @include media-t {
      flex-direction: column;
      gap: 60px;
    }
    @include media-s {
      gap: 42px;
    }
  }
  &__content {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    @include media-t {
      order: -1;
    }
    @include media-s {
      align-items: center;
    }
  }
  &__subtitle {
    font-family: Georgia, serif;
    @include font(1.5rem, 1.1, $color-title);
    letter-spacing: 0.06em;
    @include media-s {
      letter-spacing: 0;
      line-height: 2.4rem;
    }
  }
  &__text {
    font-style: italic;
    @include font(1.2rem, 1.5, $color-italic, 400, italic);
    @include media-s {
      max-width: 280px;
      font-size: 12px;
      line-height: 18px;
      text-align: justify;
      letter-spacing: 0;
    }
  }
  &__image {
    @include media-s {
      max-width: 261.5px;
    }
  }
}

.credit-card {
  position: relative;
  min-height: 43px;
  max-width: 100%;
  padding: 10px 15px 10px 60px;
  font-family: Georgia, serif;
  @include font(2rem, 1.15, $color-title);
  letter-spacing: 0.06em;
  white-space: nowrap;
  background: $color-prim url('../svg/credit-card.svg') 15px center no-repeat;
  border-radius: 9px;
  transition: background-color 0.3s ease;
  @media (any-hover: hover) {
    &:hover,
    &:focus {
      background-color: $color-prim-hov;
    }
  }
  @include media-s {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
}
