.start {
  padding-top: 100px;
  color: $color-grey;
  background: url('../../assets/img/noise.png'), radial-gradient(75% 150% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.start__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
  padding-top: 0;
  padding-bottom: 0;

  @include media-t {
    display: block;
    padding-top: 50px;
  }
}

.start__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
  flex-basis: perc(460px);
  max-width: 460px;
  min-width: 310px;

  @include media-t {
    margin: 0 auto 100px;
  }
}

.start__title {
  max-width: 320px;
}

.start__button {
  @include media-t {
    align-self: center;
  }
}

.start__pic {
  flex-basis: perc(698px);
  padding-top: 80px;

  @include media-t {
    margin-left: auto;
    padding-top: 0;
    max-width: 569px;
    max-height: 593px;
    width: perc(260px, 320px);
  }
}
