.start {
  padding-top: 100px;
  color: $color-grey;
  background: url('../../assets/img/noise.png'), radial-gradient(75% 150% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.start__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
  padding-top: 0;
  padding-bottom: 0;

  @include media-t {
    display: block;
    padding-top: 50px;
  }
}

.start__content {
  flex-basis: perc(460px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
  min-width: 370px;

  @include media-t {
    width: perc(460px, 708px);
    max-width: 600px;
    min-width: auto;
    margin: 0 auto 100px;
  }

  @include media-m {
    align-items: center;
    width: 90%;
    max-width: 460px;
    margin-bottom: 105px;
  }

  @include media(350px) {
    width: 100%;
  }
}

.start__title {
  max-width: 320px;
}

.start__text {
  @include media-m {
    text-align: center;
  }
}

.start__button {
  @include media-t {
    align-self: center;
  }
}

.start__pic {
  flex-basis: perc(698px);
  padding-top: 80px;

  @include media-t {
    max-width: 569px;
    max-height: 593px;
    margin-left: auto;
    padding-top: 0;
  }

  @include media-m {
    width: perc(260px, 300px);

    img {
      min-height: 272px;
    }
  }
}
