.about__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: perc(120px);

  @include media-t {
    flex-wrap: wrap;
    gap: 80px;
  }
}

.about__content {
  flex-basis: 430px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  @include media-t {
    order: -1;
  }
}
