.pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  @include media-m {
    gap: 22px;
  }
}

.pets__title {
  max-width: 400px;
  text-align: center;

  @include media-s {
    max-width: 300px;
  }
}