.donat__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.donat__pic {
  padding-left: 1px; // PP
}

.donat__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 380px;
}

.donat__subtitle {
  line-height: 17px;
  letter-spacing: 0.06em;
  color: $color-title;
}

.donat__card {
  display: flex;
  align-items: center;
  width: 349px;
  height: 43px;
  padding: 10px;
  font-family: 'Georgia', serif;
  @include font(20px, 1.15, $color-title);
  letter-spacing: 0.06em;
  background: $color-prim;
  border-radius: 9px;
  transition: 0.3s;

  &:before {
    font-size: 23px;
    margin-right: 15px;
    margin-left: 5px;
    color: $color-button;
  }

  &:hover {
    background-color: $color-prim-l;
  }
}

.donat__info {
  @include font(12px, 1.5, $color-grey-m);
  font-style: italic;
}
