.donat__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.donat__pic {
  padding-left: 1px; // PP
}

.donat__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 380px;
}

.donat__subtitle {
  line-height: 17px;
  letter-spacing: 0.06em;
  color: $color-title;
}

.donat__card {
  justify-content: flex-start;
  width: 349px;
  height: 43px;
  padding: 5px 5px 5px 13px;
  gap: 14px;
  @include font(20px, 1.15, $color-title);
  background: $color-prim;
  border-radius: 9px;

  &:before {
    font-size: 23px;
    color: $color-button;
  }
}

.donat__info {
  @include font(12px, 1.5, $color-grey-m);
  font-style: italic;
}
