@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/ArialMT.woff2") format("woff2"), url("../../assets/fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial-ItalicMT.woff2") format("woff2"), url("../../assets/fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia.woff2") format("woff2"), url("../../assets/fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia-Bold.woff2") format("woff2"), url("../../assets/fonts/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../../assets/fonts/icomoon.woff?izzy4t") format("woff"), url("../../assets/fonts/icomoon.ttf?izzy4t") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
body {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #4c4c4c;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: "Georgia", serif;
  font-weight: normal;
  letter-spacing: 0.06em;
  color: #545454;
}

.page-main h1 {
  font-size: 44px;
  line-height: 57px;
  color: #ffffff;
  letter-spacing: 0;
}

h2 {
  font-size: 35px;
  line-height: 45px;
}

h3 {
  font-size: 20px;
  line-height: 1.15;
}

h4 {
  font-size: 15px;
  line-height: 1.1;
}

[class^=icon_]:before,
[class*=" icon_"]:before {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon_arrow-next:before {
  content: "\e900";
}

.icon_arrow-prev:before {
  content: "\e901";
}

.icon_close:before {
  content: "\e902";
}

.icon_credit-card:before {
  content: "\e903";
}

.icon_mail:before {
  content: "\e904";
}

.icon_phone:before {
  content: "\e905";
}

.icon_pin:before {
  content: "\e906";
}

html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

button {
  display: block;
  color: inherit;
  cursor: pointer;
  transition: 0.4s;
}

span {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}

[class*=__wrapper] {
  max-width: 1280px;
  margin: auto;
  padding: 80px 40px 100px;
}
@media (max-width: 768px) {
  [class*=__wrapper] {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 600px) {
  [class*=__wrapper] {
    padding: 42px 10px;
  }
}

.pets,
.donat {
  background-color: #f6f6f6;
}

.page-pets {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page-pets .main {
  flex-grow: 1;
  background-color: #f6f6f6;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.page-pets .header {
  position: static;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.logo__title {
  font-family: "Georgia", serif;
  font-size: 32px;
  line-height: 35px;
  color: #f1cdb3;
  letter-spacing: 0.06em;
  transition: 0.4s;
}
.logo:hover .logo__title {
  color: #fddcc4;
}
.logo:active .logo__title {
  color: #f1cdb3;
}

.logo__subtitle {
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  letter-spacing: 0.1em;
}

.page-pets .logo__title {
  color: #545454;
}
.page-pets .logo__subtitle,
.page-pets .logo:hover .logo__title {
  color: #292929;
}
.page-pets .logo:active .logo__title {
  color: #000000;
}

.menu {
  display: flex;
  gap: 36px;
}

.menu__link {
  line-height: 23px;
  color: #cdcdcd;
  border-bottom: 3px solid transparent;
}
.menu__link.active, .menu__link:active {
  color: #fafafa;
  border-color: #f1cdb3;
}
.menu__link.active {
  pointer-events: none;
}
.menu__link:hover {
  color: #fafafa;
}

.page-pets .menu__link {
  color: #545454;
}
.page-pets .menu__link.active, .page-pets .menu__link:hover {
  color: #292929;
}

.main__title {
  max-width: 400px;
  margin: 0 auto 60px;
  text-align: center;
  font-size: 35px;
  line-height: 45px;
}

.slider__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 40px;
  margin-bottom: 60px;
}

.slider__buttons {
  display: flex;
  gap: 20px;
  max-width: 340px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  width: 270px;
  min-height: 435px;
  background: #fafafa;
  border-radius: 9px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
}
.card:hover {
  background: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card__pic {
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.card__pic > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

.card__title {
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 10px 43px;
  font-family: "Georgia", serif;
  font-size: 17px;
  line-height: 1.3;
  color: #292929;
  letter-spacing: 0.06em;
  background-color: transparent;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
}
.button_colored {
  background-color: #f1cdb3;
}
.button_slider {
  flex-shrink: 0;
  width: 52px;
  padding: 0;
  font-size: 20px;
  line-height: 23px;
  border-radius: 50%;
}
.button.icon_arrow-prev:before, .button.icon_arrow-next:before {
  padding-left: 1px;
  font-size: 6px;
}
.button:disabled {
  color: #cdcdcd;
  border-color: #cdcdcd;
  pointer-events: none;
}
.button:hover, .card:hover .button {
  background-color: #fddcc4;
  border-color: #fddcc4;
}
.button.active, .button:active, .card:active .button {
  background-color: #f1cdb3;
  border-color: #f1cdb3;
}
.button.active {
  pointer-events: none;
}

.footer {
  background: url("../../assets/img/noise.png"), radial-gradient(70% 540% at 5% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 0;
}
@media (max-width: 1100px) {
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 65px 8.4745762712%;
    padding-top: 40px;
  }
}
@media (max-width: 768px) {
  .footer__wrapper {
    padding-top: 30px;
  }
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 302px;
  min-height: 234px;
  padding: 16px 0 60px;
}
@media (max-width: 1100px) {
  .footer__info {
    padding: 0;
  }
}

.footer__title {
  color: #ffffff;
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 19px;
  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 1.15;
  color: #f1cdb3;
  letter-spacing: 0.06em;
}
.footer__link:before {
  font-size: 32px;
}
.footer__link.icon_mail:before {
  font-size: 26px;
}
.footer__link:hover {
  filter: brightness(110%);
}
.footer__link:active {
  filter: brightness(120%);
}

.footer__pic {
  align-self: flex-end;
}/*# sourceMappingURL=style.css.map */