.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 300px;

  .page-pets & {
    position: static;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;

  @include media-m {
    padding-left: 20px;
    padding-right: 15px;
  }
}
