.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.page-pets .header{
  position: static;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 40px;
}
