.main__wrapper {
  @include media-t {
    padding-bottom: 76px;
  }

  @include media-m {
    padding-bottom: 42px;
  }
}

.main__title {
  max-width: 400px;
  margin: 0 auto 60px;
  text-align: center;
  @include font(35px, 45px);

  @include media-t {
    margin-bottom: 30px;
  }

  @include media-s {
    max-width: 320px;
    margin-bottom: 42px;
    @include font(25px, 32px);
  }
}

// --------------------------------------------

$duration: 0.7s;

.slider__container {
  position: relative;
  width: 100%;
  min-height: 900px;
}

.slider__page {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(2, minmax(435px, auto));
  justify-content: space-between;
  gap: 30px 20px;
  margin: 0 auto 60px;
  animation-duration: $duration;
  animation-timing-function: ease-in-out;

  @include media-l {
    grid-template-columns: repeat(3, 270px);
    grid-template-rows: repeat(2, minmax(435px, auto));
    justify-content: space-evenly;
  }

  @include media-t {
    grid-template-columns: repeat(2, 270px);
    grid-template-rows: repeat(3, minmax(435px, auto));
    column-gap: 40px;
    width: perc(580px, 708px);
    margin-bottom: 40px;
  }

  @include media-m {
    grid-template-columns: 270px;
    width: 270px;
    margin-bottom: 42px;
  }

  &.prev {
    animation-name: fade-out;

    .card {
      animation: scale-card $duration;
    }
  }

  &.next {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    animation-name: fade-in;
  }
}

.slider__buttons {
  display: flex;
  justify-content: space-between;
  max-width: 340px;
  margin: 0 auto;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale-card {
  from {
    transform: none;
  }
  to {
    transform: scale(0.8);
  }
}
