$color-prim: #f1cdb3;
$color-prim-hov: #fddcc4;
$color-dark: #000000;
$color-light: #ffffff;
$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-grey: #cdcdcd;
$color-title: #545454;
$color-text: #4c4c4c;
$color-italic: #b2b2b2;
$color-button: #292929;

$wrapper-width: 1240px;
$content-width: 1200px;

// Placeholders -----------------------
// %trans {transition: all 0.3s ease}

// Mixins -----------------------------

@mixin font($size, $height: 1, $color: inherit, $weight: 400, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
  color: $color;
}

@mixin img($padding: 100%, $pos: center) {
  position: relative;
  padding-top: $padding;
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: $pos;
  }
}

@function perc($width, $container-width: $content-width) {
  $result: calc($width / $container-width * 100%);
  @return $result;
}

// Равномерное распределение колонок на основе ширины в процентах
// Gap не задан, он также рассчитывается в %, нужно следить и прописывать медиазапросы
@mixin flex($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > * {
    flex-basis: calc($width / $content-width * 100%);
  }
}

// Если нужно точное количество колонок и точный gap
// Gap не будет уменьшаться, будет уменьшаться ширина колонок в %
@mixin cols($cols, $gap) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $gap;
  > * {
    flex-basis: calc((100% - ($cols - 1) * $gap) / $cols);
  }
}

// media -------------------------------------------------

@mixin media-lap {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin media-tab {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin media-mob {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin media-mm {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin media-sm {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin media($width) {
  @media (max-width: $width) {
    @content;
  }
}
