.logo {
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
  transition: filter 0.3s, opacity 0.3s;
  outline-offset: 2px;

  &__title {
    height: 35px;
    .pets-page & {
      color: $color-title;
    }
  }
  &__subtitle {
    padding-top: 10px;
    @include font(1.3rem, 1.5rem, $color-light);
    letter-spacing: 0.1em;
    text-align: center;
    transition: all 0.1s;
    .pets-page & {
      color: #777777;
    }
  }

  &:hover,
  &:focus,
  &:active {
    filter: brightness(85%);
    .pets-page & {
      filter: brightness(60%);
    }
  }
}

// button ---------------------

.button {
  min-width: 187px;
  max-width: 100%;
  padding: 13px 43px;
  font-family: Georgia, serif;
  @include font(1.7rem, 2.2rem, $color-button);
  letter-spacing: 0.06em;
  text-align: center;
  background: $color-prim;
  border: 2px solid transparent;
  border-radius: 100px;
  transition: background 0.3s, border 0.3s;
  &:hover,
  &:focus,
  &:active {
    background: $color-prim-hov;
  }

  &_bordered {
    background: transparent;
    border: 2px solid $color-prim;
  }
}
