.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(41, 41, 41, 0.6);
  opacity: 0;
  transition: opacity 0.5s;

  &.popup-open {
    opacity: 1;
  }
}

.popup {
  position: relative;
  width: 900px;
  border-radius: 9px;
  background: $color-light-s;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: top 0.5s;

  @include media-t {
    width: 630px;
  }
  @include media-m {
    width: 400px;
  }
  @include media-s {
    width: 75%;
  }

  &__wrapper {
    max-height: calc(100vh - 10px);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    border-radius: 9px;
  }

  &__image {
    flex-basis: 500px;
    padding-top: 500px;
    @include img;
    @include media-t {
      flex-basis: 350px;
      padding-top: 350px;
    }
    @include media-m {
      display: none;
    }
  }

  &__content {
    flex-basis: 400px;
    padding: 50px 20px 50px 30px;

    > * {
      color: $color-dark;
    }

    @include media-t {
      flex-basis: 280px;
      padding: 10px;
    }
    @include media-m {
      flex-basis: 100%;
      padding: 30px;
    }
    @include media-s {
      padding: 10px;
      padding-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 10px;
    @include media-m {
      font-size: 3.5rem;
      line-height: 4.5rem;
      text-align: center;
    }
  }

  &__subtitle {
    margin-bottom: 40px;
    @include media-t {
      margin-bottom: 20px;
    }
    @include media-m {
      font-size: 2rem;
      line-height: 2.3rem;
      text-align: center;
    }
  }

  &__text {
    margin-bottom: 35px;
    font-family: Georgia, serif;
    line-height: 1.7rem;
    letter-spacing: 0.06em;
    @include media-t {
      font-size: 1.3rem;
      line-height: 14.3px;
      margin-bottom: 17px;
    }
    @include media-s {
      text-align: justify;
    }
  }

  &__item {
    position: relative;
    padding: 5px 5px 5px 14px;
    font-family: Georgia, serif;
    line-height: 1.8rem;
    letter-spacing: 1.8px;
    @include media-t {
      padding: 2.5px 5px 2.5px 14px;
    }

    &:last-child{
      padding-bottom: 15px;
    }

    span {
      display: inline;
    }

    &::before {
      content: '';
      position: absolute;
      top: 12px;
      left: 0;
      width: 4px;
      height: 4px;
      background: $color-prim;
      border-radius: 50%;
    }
  }
}

.popup__close-btn {
  position: absolute;
  top: -52px;
  right: -42px;
  width: 52px;
  height: 52px;
  background: rgba(150, 150, 150, 0.3) url('../svg/close.svg') no-repeat center center;
  border: 2px solid $color-prim;
  border-radius: 50%;
  transition: background-color 0.3s, border 0.3s;

  &.active {
    background-color: $color-prim-hov;
    border: 2px solid $color-prim-hov;
  }

  @include media-m {
    right: -31px;
  }
}
