.slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include media-l {
    justify-content: space-evenly;
  }
  @include media-t {
    justify-content: center;
  }
  @include media-m {
    max-width: 400px;
    flex-wrap: wrap;
    gap: 5px 80px;
    margin-bottom: 15px;
  }
}

.main-slider {
  position: relative;
  flex-basis: 1020px;
  min-height: 465px;
  overflow: hidden;
  cursor: grab;
  @include media-l {
    flex-basis: 660px;
  }
  @include media-t {
    flex-basis: 604px;
  }
  @include media-m {
    flex-basis: 300px;
    order: -1;
  }
}

.main-slider__slide {
  position: relative; //not absolute!
  display: none;
  padding: 15px;
  animation: 0.5s ease-in-out;
  @include media-t {
    padding: 15px 12px;
  };
  @include media-m {
    padding: 15px;
    animation-duration: 0.3s;
  }

  &.active,
  &.next {
    display: flex;
    gap: 90px;
    @include media-t {
      gap: 40px;
    }
  }

  &.next {
    position: absolute;
    top: 0;
    width: 100%;
  }

  &.to-left {
    animation-name: left;
  }

  &.to-right {
    animation-name: right;
    animation-direction: reverse;
  }

  &.from-left {
    animation-name: left;
    animation-direction: reverse;
  }

  &.from-right {
    animation-name: right;
  }
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

// =============================

.page-slider {
  position: relative;
  min-height: 900px;

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 40px;
    justify-content: center;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
    @include media-l {
      max-width: 890px;
    }

    &:first-child {
      position: static;
    }

    &.active {
      z-index: 2;
      opacity: 1;
      visibility: visible;
    }
  }
}

.slider-pagination {
  display: flex;
  gap: 20px;
  @include media-s {
    gap: 10px;
  }
}

// =============================

.pet-card {
  flex: 0 0 270px;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  background: $color-light-s;
  border-radius: 9px;
  box-shadow: 0px 0px 15px 2px rgba(70, 70, 70, 0.05);
  transition: background 0.5s, box-shadow 0.5s;
  overflow: hidden;
  user-select: none;
  cursor: pointer;

  &__image {
    padding-top: 100%;
    background: $color-light-s;
    @include img;
  }
  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
  }
  &__title {
    flex-grow: 1;
  }

  &:hover,
  &:focus,
  &:active {
    background: $color-light;
    box-shadow: 0px 0px 15px 5px rgba(70, 70, 70, 0.15);

    .button {
      background: $color-prim-hov;
      border: 2px solid $color-prim-hov;
    }
  }
}

.slider-btn {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-family: Georgia, serif, serif;
  @include font(2rem, 1, $color-button);
  letter-spacing: 0.06em;
  background: transparent;
  border: 2px solid $color-prim;
  border-radius: 50%;
  transition: background-color 0.3s, border 0.3s;

  &.active {
    font-family: 'Times New Roman', Times, serif, serif;
    background: $color-prim;
  }

  &_prev {
    background: url('../svg/arrow-prev.svg') center center no-repeat;
  }
  &_next {
    background: url('../svg/arrow-next.svg') center center no-repeat;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $color-prim-hov;
    border: 2px solid $color-prim-hov;
  }

  &:disabled {
    color: $color-grey;
    background-color: transparent;
    border-color: $color-grey;
    pointer-events: none;
  }
}
