.main__wrapper {
  @include media-t {
    padding-bottom: 76px;
  }

  @include media-m {
    padding-bottom: 42px;
  }
}

.main__title {
  max-width: 400px;
  margin: 0 auto 60px;
  text-align: center;
  @include font(35px, 45px);

  @include media-t {
    margin-bottom: 30px;
  }

  @include media-s {
    max-width: 320px;
    margin-bottom: 42px;
    @include font(25px, 32px);
  }
}

.slider__cards {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(2, minmax(435px, auto));
  justify-content: space-between;
  gap: 30px 20px;
  margin: 0 auto 60px;

  @include media-l {
    grid-template-columns: repeat(3, 270px);
    grid-template-rows: repeat(2, minmax(435px, auto));
    justify-content: space-evenly;
  }

  @include media-t {
    grid-template-columns: repeat(2, 270px);
    grid-template-rows: repeat(3, minmax(435px, auto));
    column-gap: 40px;
    width: perc(580px, 708px);
    margin-bottom: 40px;
  }

  @include media-m {
    grid-template-columns: 270px;
    width: 270px;
    margin-bottom: 42px;
  }
}

.slider__buttons {
  display: flex;
  justify-content: space-between;
  max-width: 340px;
  margin: 0 auto;
}
