$color-light: #ffffff;
$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-bg: #e5e5e5;
$color-grey: #cdcdcd;
$color-grey-m: #b2b2b2;
$color-title: #545454;
$color-text: #4c4c4c;
$color-button: #292929;
$color-dark: #000000;
$color-prim: #f1cdb3;
$color-prim-l: #fddcc4;

$wrapper-width: 1280px;
$content-width: 1200px;

$trans: 0.4s;

// Functions -----------------------------

@function perc($width, $container-width: $content-width) {
  $result: calc($width / $container-width * 100%);
  @return $result;
}

// Mixins -----------------------------

@mixin font($size, $height: 1, $color: null) {
  font-size: $size;
  line-height: $height;
  @if $color {
    color: $color;
  }
}

@mixin img($pos: center) {
  position: relative;
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: $pos;
  }
}

@mixin media($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-l {
  @media (max-width: ($wrapper-width - 0.02px)) {
    @content;
  }
}

@mixin media-t {
  @media (max-width: 1023.98px) {
    @content;
  }
}

@mixin media-m {
  @media (max-width: 767.98px) {
    @content;
  }
}

@mixin media-s {
  @media (max-width: 479.98px) {
    @content;
  }
}
