@font-face {
  font-family: 'Arial';
  src: local('Arial'), url('../fonts/ArialMT.woff2') format('woff2'), url('../fonts/ArialMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: local('Arial italic'), url('../fonts/Arial-ItalicMT.woff2') format('woff2'), url('../fonts/Arial-ItalicMT.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: local('Georgia'), url('../fonts/Georgia.woff2') format('woff2'), url('../fonts/Georgia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia bold';
  src: local('Georgia bold'), url('../fonts/Georgia-Bold.woff2') format('woff2'), url('../fonts/Georgia-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: local('Georgia italic'), url('../fonts/Georgia-Italic.woff2') format('woff2'), url('../fonts/Georgia-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

// ----------------------------------------------------------------

body {
  font-family: Arial, sans-serif;
  @include font(15px, 1.6, $color-text);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Georgia, serif;
  letter-spacing: 0.06em;
  color: $color-title;
}

h1 {
  @include font(32px, 1.1, $color-prim);
}

h2 {
  @include font(44px, 1.3, $color-light);
  letter-spacing: 0;
}

h3 {
  @include font(35px, 1.3);
}

h4 {
  @include font(20px, 1.15);
}

h5 {
  @include font(15px, 1.1);
}
