@font-face {
  font-family: 'Arial';
  src: url('../../../assets/fonts/ArialMT.woff2') format('woff2'), url('../../../assets/fonts/ArialMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../../../assets/fonts/Arial-ItalicMT.woff2') format('woff2'), url('../../../assets/fonts/Arial-ItalicMT.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('../../../assets/fonts/Georgia.woff2') format('woff2'), url('../../../assets/fonts/Georgia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia bold';
  src: url('../../../assets/fonts/Georgia-Bold.woff2') format('woff2'), url('../../../assets/fonts/Georgia-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('../../../assets/fonts/Georgia-Italic.woff2') format('woff2'), url('../../../assets/fonts/Georgia-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src: url('../../../assets/fonts/icomoon.woff?izzy4t') format('woff'), url('../../../assets/fonts/icomoon.ttf?izzy4t') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

// ----------------------------------------------------------------

body {
  font-family: Arial, sans-serif;
  @include font(15px, 1.6, $color-text);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Georgia', serif;
  letter-spacing: 0.06em;
  color: $color-title;
}

h1 {
  @include font(32px, 1.1, $color-prim);
}

h2 {
  @include font(44px, 1.3, $color-light);
  letter-spacing: 0;
}

h3 {
  @include font(35px, 45px);
}

h4 {
  @include font(20px, 1.15);
}

h5 {
  @include font(15px, 1.1);
}

// --------------------------------------------

[class^='icon_']:before,
[class*=' icon_']:before {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon_arrow-next:before {
  content: '\e900';
}
.icon_arrow-prev:before {
  content: '\e901';
}
.icon_close:before {
  content: '\e902';
}
.icon_credit-card:before {
  content: '\e903';
}
.icon_mail:before {
  content: '\e904';
}
.icon_phone:before {
  content: '\e905';
}
.icon_pin:before {
  content: '\e906';
}
