.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 10px 43px;
  font-family: 'Georgia', serif;
  @include font(17px, 1.3, $color-button);
  letter-spacing: 0.06em;
  background-color: $color-prim;
  border: 2px solid $color-prim;
  border-radius: 100px;

  &_bordered {
    background-color: transparent;
  }

  &_slider {
    flex-shrink: 0;
    width: 52px;
    padding: 0;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
  }

  &.icon_arrow-prev:before,
  &.icon_arrow-next:before {
    padding-left: 2px;
    font-size: 6px;
  }

  &:disabled {
    color: $color-grey;
    border-color: $color-grey;
    pointer-events: none;
  }

  &.active {
    background-color: $color-prim;
  }

  &:hover,
  .card:hover & {
    background-color: $color-prim-l;
    border-color: $color-prim-l;
  }
}
