.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 10px 43px;
  font-family: 'Georgia', serif;
  @include font(17px, 1.3, $color-button);
  letter-spacing: 0.06em;
  background-color: transparent;
  border: 2px solid $color-prim;
  border-radius: 100px;

  &_colored {
    background-color: $color-prim;
  }

  &_slider,
  &_modal {
    flex-shrink: 0;
    width: 52px;
    padding: 0;
    font-size: 20px;
    line-height: 1;
    border-radius: 50%;
    user-select: none;
  }

  &_modal {
    font-size: 12px;
  }

  &_slider.active {
    font-family: 'Times New Roman', Times, serif;
  }

  &.icon_arrow-prev:before,
  &.icon_arrow-next:before {
    padding-left: 1px;
    font-size: 6px;
  }

  &:disabled {
    color: $color-grey;
    border-color: $color-grey;
    pointer-events: none;
  }

  @media (hover: hover) {
    &:hover,
    .card:hover & {
      background-color: $color-prim-l;
      border-color: $color-prim-l;
    }
  }

  &.active,
  &:active,
  .card:active & {
    background-color: $color-prim;
    border-color: $color-prim;
  }

  &.active {
    pointer-events: none;
  }
}
