.menu {
  display: flex;
  gap: 36px;

  @include media-m {
    position: fixed;
    z-index: 2;
    top: 0;
    right: -330px;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 37px;
    width: 320px;
    max-width: 100%;
    padding: 30px;
    background: $color-button;
    overflow-y: auto;
    transition: $trans;

    .page-pets & {
      background: $color-light;
    }

    &:before {
      content: '';
      position: absolute;
      top: 25px;
      right: 5px;
      width: 70px;
      height: 70px;
      background: radial-gradient(circle, $color-button 50%, transparent 80%);

      .page-pets & {
        background: radial-gradient(circle, $color-light 50%, transparent 80%);
      }
    }

    .menu-open & {
      right: 0;
    }
  }
}

.menu__link {
  line-height: 23px;
  color: $color-grey;
  border-bottom: 3px solid transparent;

  &.active,
  &:active {
    color: $color-light-s;
    border-color: $color-prim;
  }

  &:hover {
    color: $color-light-s;
  }

  @media (min-width: 768px) {
    &.active {
      pointer-events: none;
    }
  }

  @include media-m {
    @include font(32px, 51px);

    .page-main &.active {
      margin: 2px 0 3px;
    }
  }
}

.page-pets .menu__link {
  color: $color-title;

  &.active,
  &:hover {
    color: $color-button;
  }
}

// --------------------------------

.burger {
  display: none;

  @include media-m {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 42px;
    padding: 10px;
    background: transparent;
    transition: $trans;

    &:before,
    &:after {
      content: '';
    }

    span,
    &:before,
    &:after {
      width: 30px;
      height: 2px;
      background: $color-prim;

      .page-pets & {
        background: $color-dark;
      }
    }

    .menu-open & {
      transform: rotate(90deg);
    }
  }

  @media (hover: hover) {
    &:hover {
      filter: brightness(110%);

      .page-pets & {
        opacity: 0.7;
      }
    }
  }
}
