.menu {
  display: flex;
  gap: 35.5px;
}

.menu__link {
  line-height: 23px;
  color: $color-grey;
  border-bottom: 3px solid transparent;

  &.active {
    color: $color-light-s;
    border-color: $color-prim;
    pointer-events: none;
  }

  &:hover {
    color: $color-light-s;
  }
}

.page-pets .menu__link {
  color: $color-title;

  &.active {
    color: $color-title;
  }

  &:hover {
    color: $color-button;
  }
}
