.slider {
  display: flex;
  align-items: center;
  gap: 53px;
}

.slider__cards{
  display: flex;
  gap: 90px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 270px;
  min-height: 435px;
  background: $color-light-s;
  border-radius: 9px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: $color-light;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
}

.card__pic {
  width: 100%;
  padding-top: 100%;
  @include img();
}

.card__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

.card__title {
  text-align: center;
}
