.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;

  @include media-t {
    max-width: 860px;
  }

  @include media-m {
    max-width: 560px;
  }

  @include media-s {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 80px;
  }

  .button_slider {
    position: relative;
    z-index: 2;
  }

  .icon_arrow-prev {
    margin-right: -(35px - 12px);
  }

  .icon_arrow-next {
    margin-left: -(35px - 12px);
  }
}

.slider__window {
  position: relative;
  flex-basis: 990px + 35px * 2;
  overflow: hidden;

  @include media-t {
    max-width: 700px;
  }

  @include media-m {
    max-width: 340px;
  }

  @include media-s {
    order: -1;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    display: none;
    width: 35px;
    background: $color-light-l;

    @include media-s {
      width: 15px;
    }
  }

  &:before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.slider__line {
  position: relative;
  width: 300%;
  left: -100%;
  display: flex;
  min-width: 300px;
  animation-duration: 0.6s;
  animation-timing-function: ease;

  .move-left & {
    animation-name: to-left;
  }

  .move-right & {
    animation-name: to-right;
  }

  @include media-m {
    animation-duration: 0.4s;
  }
}

.move-left,
.move-right {
  cursor: pointer;
  user-select: none;

  .button_slider {
    pointer-events: none;
  }

  .slider__window:before,
  .slider__window:after {
    display: block;
  }
}

.move-left .icon_arrow-prev,
.move-right .icon_arrow-next {
  background-color: $color-prim;
  border-color: $color-prim;
}

.slider__slide {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-basis: calc(100% / 3);
  max-width: 100%;
  padding: 35px;

  @include media-t {
    gap: 40px;

    .card:nth-child(3) {
      display: none;
    }
  }

  @include media-m {
    .card:nth-child(2) {
      display: none;
    }
  }

  @include media(360px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@keyframes to-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes to-right {
  from {
    left: -100%;
  }
  to {
    left: -200%;
  }
}
